.genemodel {
  display: block !important;
  padding: 10px;
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  svg {
    font-family: Helvetica;
    .tick.major {
      font-size: 1.2em;
    }
  }
}
