.genemodel {
  display: block !important;
  padding: 10px;
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  svg {
    font-family: Helvetica;
    .tick.major {
      font-size: 1.2em;
    }
    .exon {
      cursor: pointer;
      &:hover {
        stroke: hsl(204, 86%, 53%); //Bulma info color
        stroke-width: 2px;
        stroke-linejoin: round;
      }
    }
    .transcript-hover {
      cursor: pointer;
      stroke-width: 16px;
      stroke: transparent;
      &:hover {
        stroke: hsl(204, 86%, 53%); //Bulma info color
        
        //stroke-linejoin: round;
      }
    }
  }
}

.exon-sequence {
  max-height: 20rem;
  word-break: break-all;
  font-family: monospace;
  overflow-y: scroll;
}
