article.no-protein-domains {
  margin-right: 1rem;
}
.protein-domain-interval {
  cursor: pointer;
  &:hover {
    stroke: hsl(204, 86%, 53%) !important; //Bulma info color
    stroke-width: 2px !important;
    stroke-linejoin: round;
  }
}
