textarea {
	font-family: Menlo,sans-serif;
	font-size: 0.8em;
}
.well.alignment-text{
	overflow: auto;
	word-wrap: normal;
	font-family: Menlo,sans-serif;
	font-size: 0.8em;
}

p.blast-result-text {
	line-height:75%;
}