textarea {
	font-family: Menlo,sans-serif;
	font-size: 0.8em;
}
.well.blast-out-seq{
	overflow: auto;
	white-space:nowrap;
	font-family: Menlo,sans-serif;
	font-size: 0.8em;
}

p.blast-result-text {
	line-height:75%;
}