// The gray background
.backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  padding: 50;
}

// The modal "window"
.modal {
  display: inline !important;
  z-index: 1000 !important;
}
