.genelist {
  min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    .genelist-item {
      padding: .5rem .5rem;
    }
    p {
      margin: 0;
    }
}