!.meteor/packages
!.meteor/versions
!.meteor/status
.bioportal
.meteor/local
.meteor/meteorite
*sublime*
data/PanWU01x14*
data/TorRG33x02*
data/orthology_final.txt
data/Alignments*
data/NJ_Trees*
data/transcriptome
*elasticsearch*
production_settings.json
server/kadira.js
