.header-menu {
  margin-left: -7.4rem !important;
}

.navbar-logo {
  margin-top: -5px;
  width: 30px;//25%;
}

.navbar-brand {
  margin-right: 0rem !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
