$nav-height: 2.5rem;

nav {
  &.navbar {
    min-height: unset !important;
    height: $nav-height;
    .navbar-start {
      margin-left: auto;
      margin-right: unset !important;
    }
    
    .navbar-item {
      height: $nav-height;
      &#gene-link {
        margin-left: 1rem;
      }
      .user-button {
        padding-bottom: 1rem;
        padding-top: 0.4rem;
        margin-top: 0.3rem;
        margin-right: 1rem;
      }
    }
  
    #navbar-brand-image {
      margin-top: .1rem;
      margin-left: .7rem;
    }
  }
}