.login-form {
  .card-image, a#new-account {
    display: table;
    margin: 0 auto;
  }
  .card-footer, a#new-account {
    margin-top: 1rem;
  }

  button.submit-login {
    padding-bottom: 14px;
  }
}