.register-user {
  .password {
    margin-bottom: 0 !important;
    .input {
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
  .password-repeat {
    margin-top: -1px !important;
    .input {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }
}