.register {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  .form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:focus {
        z-index: 2;
      }
    }
    .input-group {
      &.password {
        margin-top: 10px;
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;}
      &.password-repeat {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
    input {
      &[type='text'] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      &[type='email'] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.login-title
{
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.new-account
{
  display: block;
  margin-top: 10px;
}
