.clear-search {
  .icon-cancel {
    cursor: pointer;
    z-index: 9;
  }
  z-index: 10;
  margin-left: -1.5rem;;
}

.search-dropdown {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
