@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  #loading {
    animation: spin 0.7s infinite linear;
    -animation: spin 0.7s infinite linear;
    -webkit-animation: spin2 0.7s infinite linear;
  }
}

.btn-group-justified {
  display: flex;
  .btn {
    flex-grow: 1;
  }
}

::-ms-clear {
  display: none;
}
