@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
//@import "_font-awesome.scss";

body {
	font-family: 'Raleway', Arial, sans-serif;
	font-style:normal;
	#loading {
		-animation: spin .7s infinite linear;
		-webkit-animation: spin2 .7s infinite linear;
	}
}

.tooltip {
	background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    border-width: 0.5px;
    border-style: solid;
    border-color: white;
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    //margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.btn-group-justified {
  display: flex;
  .btn {
    flex-grow: 1;
  }
}