html,
body {
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  #loading {
    animation: spin 0.7s infinite linear;
    -animation: spin 0.7s infinite linear;
    -webkit-animation: spin2 0.7s infinite linear;
  }
}

.dropdown-content {
  .dropdown-item {
    padding: 0 1rem .5rem 1rem !important;
    margin: 0.25rem 0;
  }
}


input[type='checkbox'], input[type='radio'] {
  margin-right: .5rem;
}

/* https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link */
button.is-link {
  align-items: normal;
  background-color: rgba(0,0,0,0);
  border-color: hsl(217, 71%, 53%);
  border-style: none;
  box-sizing: content-box;
  color: hsl(217, 71%, 53%); 
  cursor: pointer;
  display: inline;
  font: inherit;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  text-decoration: underline;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */

  /* Mozilla uses a pseudo-element to show focus on buttons, */
  /* but anchors are highlighted via the focus pseudo-class. */
  &::-moz-focus-inner { /* reset any predefined properties */ 
    @supports (-moz-appearance:none){
      border: none;
      padding: 0;
    }
  }
  &:focus { /* add outline to focus pseudo-class */
    @supports (-moz-appearance:none){
      outline-style: dotted;
      outline-width: 1px;
    }
  }
}
