<template name="adminUsers">
	<p></p>
	<ul class="list-group">
		{{#each this}}
			<li class="list-group-item">
				<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#{{username}}-modal">EDIT</button>
				<p> 
					Username: <strong>{{username}}</strong><br>
					First name: {{profile.first_name}}<br>
					Last name: {{profile.last_name}}<br>
					Email address: {{ emails.[0].address }} <br>
					Roles: {{roles}}
				</p>
				<div class="modal" id="{{username}}-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						        <h4 class="modal-title" id="myModalLabel">Edit user <b>{{username}}</b></h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" id="{{username}}-form">
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">Username:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="{{username}}-username" value="{{username}}">
										</div>
									</div>
									<div class="form-group">
										<label for="firstname" class="col-sm-4 control-label">First name:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="{{username}}-firstname" value="{{profile.first_name}}">
										</div>
									</div>
									<div class="form-group">
										<label for="lastname" class="col-sm-4 control-label">Last name:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="{{username}}-lastname" value="{{profile.last_name}}">
										</div>
									</div>
									<div class="form-group">
										<label for="lastname" class="col-sm-4 control-label">Email address:</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="{{username}}-email" value="{{emails.[0].address}}" disabled>
										</div>
									</div>

									<div class="form-group">
										<label for="roles" class="col-sm-4 control-label">Access level:</label>
										<div class="col-sm-6">
											<div class="radio-inline">
												<label><input class="{{username}}-accesslevel" type="radio" name="optradio" id="registered" checked>Registered (no access)</label>
											</div>
											<div class="radio-inline">
											  <label><input class="{{username}}-accesslevel" type="radio" name="optradio" id="user">User</label>
											</div>
											<div class="radio-inline">
											  <label><input class="{{username}}-accesslevel" type="radio" name="optradio" id="curator">Curator</label>
											</div>
											<div class="radio-inline">
											  <label><input class="{{username}}-accesslevel" type="radio" name="optradio" id="admin">Admin</label>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success save" data-dismiss="modal">Save changes</button>
							</div>
						</div>
					</div> 
				</div>
			</li>
		{{/each}}
	</ul>
</template>