.user-profile {
  @media screen and (min-width: 376px){
    width: 50%;
  }
  float: none;
  margin: auto;
  h3 {
    text-align: center
  }
}

.user-profile-buttons {
  width: max-content;
  float: none;
  margin: 0 auto;
}


#newPassword {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#newPasswordRepeat {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
