.user-profile {
  @media screen and (min-width: 376px){
    width: 75%;
  }
  float: none;
  margin: 0 auto;
  h3 {
    text-align: center
  }
}

.user-profile-buttons {
  width: 50%;
  float: none;
  margin: 0 auto;
}

