<template name="header">
	<header class="navigation" role="banner">
		<div class="navigation-wrapper">
			<a href="/" class="logo">
				<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
			</a>
			<a href="/" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
			<nav role="navigation">
				<ul id="js-navigation-menu" class="navigation-menu show">
					<li class="nav-link"><a href="/news">News</a></li>
					<li class="nav-link"><a href="/genelist">Genes</a></li>
					<li class="nav-link more"><a href="javascript:void(0)">JBrowse</a>
						<ul class="submenu">
							<li><a href="javascript:void(0)">PanWU01x14</a></li>
							<li><a href="javascript:void(0)">TorRG33x02</a></li>
							<!--
							<li class="more"><a href="javascript:void(0)">Item with submenu</a>
								<ul class="submenu">
									<li><a href="javascript:void(0)">Sub-submenu Item</a></li>
									<li><a href="javascript:void(0)">Another Item</a></li>
								</ul>
							</li>
							<li class="more"><a href="javascript:void(0)">Another submenu</a>
								<ul class="submenu">
									<li><a href="javascript:void(0)">Sub-submenu</a></li>
									<li><a href="javascript:void(0)">An Item</a></li>
								</ul>
							</li>
							-->
						</ul>
					</li>
				</ul>
			</nav>
			<div class="navigation-tools">
				<div class="search-bar">
					<form role="search">
						<input type="search" placeholder="Enter Search" />
						<button type="submit">
							<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
						</button>
					</form>
				</div>
				{{> loginButtons}}
			</div>
		</div>
	</header>
</template>