.genetable{
  .query-count:disabled {
    opacity: 1 !important;
  }
  word-break: normal;

  min-height: 30rem;
  @media only screen and (max-width: 200px){
    table, thead, tbody, th, td, tr { 
      /* Force table to not be like tables anymore */
      display: block; 
    }
    
    thead tr { 
      /* Hide table headers */
      display: none;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 33% !important; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
      /* Label the data */
      content: attr(data-label);
    }
  }
  .fa-check {
    color: white;
    &.active {
      color: black;
    }
  }
}