th {
  font-weight: normal;
  .header-element {
    flex-grow: 1 !important;
  }
}

.dropdown-menu-right {
  margin-left: -10rem !important;
}

.sort-wrapper {
  padding-bottom: 10px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.has-sort, .has-query {
  background-color: lighten(#28a745, 50%);
  border-radius: 0.25rem;
}