article.no-orthogroup {
  margin-right: 1rem;
}

text.label {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
}

.alignment {
  font-family:'Roboto Mono', monospace;
}

circle.orthogroup-node {
  stroke: transparent;
  &:hover {
    stroke: #007bff;
    stroke-width: 2px;
    cursor: pointer;
  }
}
