.diamond-body {
    display: flex;
    // border: 1px solid black;
}

.title-query-sequences {
    text-align: center;
    vertical-align: middle;
}

.list-query-sequences {
    width: 140px;
    // border: 1px solid black;
}

#top-bar-sequence {
    // border: 1px solid black;
}
