.diamond-body {
    display: flex;
    position: relative;
    top: 20px;
}

#general-diamond-informations {
    position: relative;
    top: 15px;
    left: 15px;
}

.table-diamond {
    width: 50%;
    height: auto;
    // border: 1px solid red;
}

.title-query-sequences {
    text-align: center;
    vertical-align: middle;
}

.list-query-sequences {
    width: 135px;
    margin-left: 10px;
}

#top-bar-sequence {
    // border: 1px solid black;
}
