.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

#genelist-filter {
	list-style:none;
	background: #111;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
}