.genelist {
	@include margin(0 5em 0 5em)
	list-style-type: none;
	ul {
		&.genelist {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}
		&.gene {
			border-radius: $base-border-radius;
			box-sizing:border-box;
			//border:1px solid $color-primary;
			//border-bottom:0px;
			padding: 0.5em;
			box-shadow: 2px 3px 17px -2px rgba(0,0,0,0.66);
			@include margin(0.5em 0em 0.5em 0em);
			li {
				list-style-type: none;
			}
		}
	}
}
