<template name="feature">
  <li>
    <ul class="{{type}}">
      <li class="{{expand}}">
        <div class="featureswitch">
          <label class="label-switch">
            <input type="checkbox" class="toggle-expand" {{expand_check}}/>
            <div class="checkbox expand"></div>
          </label>
          <label class="label-switch">
            <input type="checkbox" class="toggle-info" {{info_check}}/>
            <div class="checkbox info"></div>
          </label>
        </div>
        <p>
          <button class="type">{{type}}</button>
          <strong>
            <a href="/gene/{{ID}}">{{ID}}  {{name}}</a>
          </strong>
        </p>
        <p>
        Scaffold: {{seqid}}
        </p> 
        {{#if isGene}}
          <p>
          Coordinates: {{start}} {{end}} {{strand}}
          </p>
          {{#if orthologs}}
            <p>Orthologs: 
            {{#each orthologs}}
            <a href="/gene/{{this}}">{{this}}</a>
            {{/each}}
            </p>
          {{/if}}
        {{/if}}
        {{#if isTranscript}}
          {{> genemodel this}}
          <hr>
          {{> interproscan this}}
          <p class="seq">{{ pep }}</p>
          <hr>
          <p class="seq">{{ seq }}</p>
        {{/if}}
      </li>
      {{#if expand}}
      	{{#if children.length}}
	        {{#each subfeatures}}
	          {{> feature}}
	        {{/each}}
        {{/if}}
      {{/if}}
  </ul>
  </li>
</template>