<template name="gene">
  <li>
    <ul class="gene">
      <li class="{{expand}} gene">
      <button class="delete">&times; {{type}}</button>
      <label class="label-switch">
        <input type="checkbox" class="toggle-expand"/>
        <div class="checkbox"></div>
      </label>
      <strong>{{ID}}</strong>
      {{seqid}} {{source}} {{start}} {{end}} {{strand}} {{transcriptNumber}}
      </li>
      {{#if expand}}
        {{#each transcripts}}
          {{> transcript}}
        {{/each}}
      {{/if}}
    </ul>
  </li>
  <!--
  <tr class="{{expand}} gene">
    <td>
      <button class="delete">&times; gene</button>
    </td>
    <td>
      <label class="label-switch">
      	<input type="checkbox" class="toggle-expand"/>
      	<div class="checkbox"></div>
      </label>
    </td>
    <td>
      <strong>{{ID}} </strong>
    </td>
    <td>
      {{seqid}}
    </td>
    <td>
      {{source}}
    </td>
    <td>
      {{type}}
    </td>
    <td>
      {{start}}
    </td>
    <td>
      {{end}}
    </td>
    <td>
      {{strand}}
    </td>
    <td>
      {{transcriptNumber}}
      {{parents}}
    </td>
   </tr>
   {{#if expand}}
      {{#each transcripts}}
        {{> transcript}}
      {{/each}}
    {{/if}}
  -->
</template>