.register
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-register
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-register .form-register-heading, .form-register .checkbox
{
    margin-bottom: 10px;
}
.form-register .checkbox
{
    font-weight: normal;
}
.form-register .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-register .form-control:focus
{
    z-index: 2;
}
.form-register input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-register input[type="email"]
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-register input[type="password"]
{   
    &#password
    {
        margin-top: 10px;
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &#password-repeat
    {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
}
input.parsley-error
{
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid lighten(#B94A48,30%) !important;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.new-account
{
    display: block;
    margin-top: 10px;
}

.parsley-errors-list
{
    float:none;
}