<template name="register">
	<div class="container">
		<div class="bs-callout bs-callout-warning hidden">
		  <h4>Oh snap!</h4>
		  <p>This form seems to be invalid :(</p>
		</div>

		<div class="bs-callout bs-callout-info hidden">
		  <h4>Yay!</h4>
		  <p>Everything seems to be ok :)</p>
		</div>
		<div class="row">
			<div class="col-sm-8 col-md-offset-2">
			<h1 class="text-center login-title">Create new account</h1>
				<div class="register">
					<form class="form-register">
						<input type="text" class="form-control" placeholder="Username" id="username" required autofocus pattern="^[a-zA-Z0-9]+$" title="Only letters and numbers">
						<input type="email" class="form-control" placeholder="Email" id="email" required>
						<input type="password" class="form-control" placeholder="Password" id="password" required pattern=".{8,}" title="Minimum 8 charachters">
						<input type="password" class="form-control" placeholder="Repeat password" id="password-repeat" required>

						<button class="btn btn-lg btn-success btn-block" type="submit">
							Sign up
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>