.browser,.browser-nav{
	form{
		clear:both;
		display:inline-block;
		#seqid {
			width:20em;
		}
		#start,#end {
			width: 10em;
		}
	}
	@include margin(0 5em 0 5em)
	background:white;
	border-radius: $base-border-radius;
	box-sizing:border-box;
	padding: 0.5em;
	box-shadow: 2px 3px 17px -2px rgba(0,0,0,0.66);
	@include margin(0.5em 0em 0.5em 0em);
	.axis line,
	.axis path {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	svg {
		//padding: 1em;
		@include margin(0em 2em 0em 0em);
		.tick.major {
			font-size: 0.7em;
		}
	}
}