.feature-panel{
	//position:fixed;
	height:85%;
}

.feature-info{
	height:79%;
	overflow-y: scroll;
}

p.seq {
	//@include margin(0em 2em 0em 0em);
	overflow-wrap: break-word;
	word-wrap: break-word;
	overflow: wrap;
	white-space:wrap;
	font-family: Menlo,sans-serif;
	font-size: 0.8em;
}

