textarea#Comments {
	resize:none;
	display:block;
}

.label-as-badge {
	font-size: 1em;
    border-radius: 1em;
    padding-right: .5em;
  	padding-left: .5em;
  	padding-top: .3em;
}

.new-attribute {
	width: 15%;
	margin: 0 auto;
}