form.container#blast {
	max-width: 600px;
	.sequence-input {
		max-width: 90%;
		margin-left: 5%;
		textarea {
			font-family: monospace;
		}
	}
	.title {
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		margin: 0 0 0 1rem !important;
	}
	.seqtype-menu {
		display: flex !important;   
		justify-content: flex-end !important; 
	}
	fieldset {
		margin-bottom: 14px;
		legend {
			margin-bottom: 0px;
			background-color: #fff;
			padding: 0 7px;
		}
	}
	.submit-buttons {
		padding: 4px 0;
	}
}