ul.steps.permission-select {
  padding: .5rem;
  &[disabled] {
    background-color: hsl(0, 0%, 96%);
    cursor: not-allowed;
    li.steps-segment {
      span.steps-marker {
        background-color: hsl(0, 0%, 48%) !important;
      }
      &:after {
        background-color: hsl(0, 0%, 48%) !important;
      }

      &.is-active{
        &:after {
          background-color: hsl(0, 0%, 86%) !important;
        }
        &~ li.steps-segment {
          &:after, span.steps-marker {
            background-color: hsl(0, 0%, 86%) !important;
          }
        }
      }
    }
  }
}